[submodule "po"]
	path = po
	url = https://github.com/grandpariley/po
[submodule "pomatch"]
	path = pomatch
	url = https://github.com/grandpariley/pomatch
[submodule "poimport"]
	path = poimport
	url = https://github.com/grandpariley/poimport
