[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
python-dotenv = "*"
motor = "*"
progressbar = "*"
numpy = "*"
quantstats = "*"
yahooquery = "*"
ipython = "*"
exceptiongroup = "*"
flask-restful = "*"
flask-cors = "*"
gunicorn = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
